
a.navbar-brand{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;  
     
    
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: rgb(2, 46, 97);
}



.navbar-nav .nav-item  .nav-link{
    color: rgb(33, 98, 173);
    font-size: 20px;
     font-family: sans-serif;
     margin-left: 15px;
     font-weight: 600;
}
/*
.navbar-nav .nav-item .nav-link:hover{
    color: #4b81f7;
    

}

/*    ////home/////  */
#home{
    background-image: url(./img/intro-bg.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;

    display:flex;
    justify-content: center;
    align-items: center;
}

.h1-home{
    font-weight: 800;
    font-family:sans-serif ;
    font-size: 55px;
    
}
.p-home{
    
    font-size: 17px;
    line-height: 28px;
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    background: rgba(0,0,0,.45);
}

.a-home{
    text-decoration: none;
    color: #fff;
    background-color:#29498f;
    padding: 14px 20px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    
}
.a-home:hover{
    transition: all 1s;
     background-color: #fff;
     color: #102655;
     
    border-radius: 20px;
}

/*////////////////////////services////////////*/

.section-intro{
    padding-top: 2px;
    
}
.section-intro .line{
  height: 4px;
  width: 80px;
  background-color: #1f386e;
  margin: 17px auto; 
  margin-top: 8px; 
}
.row{
    padding-top: 30px;
    margin-right: -15px;
    margin-left: -15px;

}
.col-md-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.h2-service{
    font-weight: 700;
    
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-content{
    width: 100%;
    position: relative;
     
}
.content-media img{
    
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #4b81f7 !important;
    background-color: transparent;
}
/*////////////////////////////////////////////////*/
#about{
    background-color: #e6e4e4;
   
    padding-bottom: 30px;
}
.h1-about{
   margin-top: 20px;
   margin-bottom: 20px;
}

.p-about{
  
  font-family: sans-serif;
  font-size: 17px;
  line-height: 28px;
  padding: 15px;
  max-width: 600px;
  
  margin-bottom: 40px;
  background: rgba(252, 252, 252, 0.45);
}
#about img{
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    background: #fff;
}
.img-responsive{
    width: 100%;
    display: block;
}


/*//////////////////////////////////////*/
.overlay {
   position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(11, 73, 155, 0.5);
    opacity: 0;
    overflow: hidden;
    width: 100%;
    transition: 1s ease;
  }
.content:hover  .overlay{
   visibility: visible;
   opacity: 1;
}
.content{
    width: 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid white;
    padding: 4px 4px;
}
 /*/////////////////////////////////////////////////*/

#why{
    background-color: #e6e4e4;
    margin-top: 25px;
    padding-bottom: 30px;
}


 .box {
    text-align: center;
    background-color: #f9f8f7;
    padding: 25px ;
    border-radius: 5px;
    position: relative;
    margin: 15px 15px;
    width: 100%;

 }
 

 .icon{
    color: #1f386e;
    font-size: 50px;
    text-decoration: none;
    
 }
 .details-h5{
    font-size: 25px;
   
    font-weight: bold;
 }
 .details-p{
    font-size: 16px;
    
 }
 /*//////////////////////////////////////////*/
.contact{
    margin-left: 30px;
    
}

 .contactus {
    border: #b1b0b0 solid 1px;
    padding: 12px 19px;
    margin-bottom: 26px;
    border-radius: inherit;
    color: #5e5d5d;
    width: 100%;
 }
 .textarea{
    border: #b1b0b0 solid 1px;
    width: 100%;
    height: 20vh;
    padding: 12px 40px;
    margin-bottom: 26px;
    border-radius: inherit;
 }
 .send{
    font-size: 16px;
    border: #ffffff solid 1px;
    padding: 10px 50px;
    background-color:rgb(3, 78, 139);
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
 }
 .send:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(3, 78, 139) ;
    transition: 1s;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

 }

#blog{
    background-color: #e6e4e4;
    margin-top: 25px;
    padding-bottom: 30px;
}

 .cardd{
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 7px;
    padding: 18px;
    margin: 10px auto;
    margin-left: 30px;
 }
 
.cardd:hover{
    background-color: rgb(3, 78, 139);
    color: #e6e4e4;
   border: none;
  
   box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
   


    transition: 1.25s ease-out;
}




 .cardd-img{
  float: left;
  margin-right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  
 }
 .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s;
    color:rgb(3, 78, 139);
    
    
}

 .btn.btn-link::before {
    position: relative;
    margin-right: 10px;
    font-weight: 900;
}
.mb-4{
    color: #102655;
}
.mb-2{
    color: #102655;
}



 .btn.btn-link:hover{
    color: rgb(4, 105, 189);
    letter-spacing: 1px;
 }


.row .g-2{
    margin-top: -28px;
}
